// Styling for the call to action section
section.cta3 {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/bg-cta_3.jpg');
    background-position: center;
    @include background-cover;
    .cta-content {
        position: relative;
        z-index: 1;

        h2 {
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: white;

        }
        @media (min-width: 768px) {
            h2 {
                font-size: 80px;
            }
        }
    }

    .overlay {
        width: 0px;
        position: relative;
    }

    .Beispiel1 {
        width: 700px;
    }
}
